@page "/setacademicsessions"

<AuthorizeView Roles="Administrator">
    <Authorized Context="admin">
        <div class="d-block pa-2 mr-5 ml-5">
            <MudPaper Class="d-flex align-center flex-grow-1 gap-x-8" Elevation="20">
                <div Class="d-flex flex-1">
                    <MudTooltip Text="Academic Session List">
                        <MudIconButton OnClick="LoadAacademicSessions" Icon="@Icons.Material.Outlined.FormatLineSpacing" Color="Color.Success" />
                    </MudTooltip>
                </div>
                <div Class="d-flex flex-1">
                    <MudTooltip Text="Create New Term">
                        <MudIconButton OnClick="CreateNewTerm" Icon="@Icons.Material.Outlined.LibraryAdd" Color="Color.Success" />
                    </MudTooltip>
                </div>
                <div Class="d-flex flex-1">
                    <MudTooltip Text="Save">
                        <MudButton OnClick="SubmitValidForm" Disabled="@saveStatus" StartIcon="@Icons.Material.Outlined.Save" Color="Color.Success" Size="Size.Large">@buttontitle</MudButton>
                    </MudTooltip>
                </div>
            </MudPaper>               
        </div>

        @if (toolBarMenuId == 1)
        {
            <div class="d-block pa-2  mr-5 ml-5">
                <MudGrid>
                    <MudItem xs="12" sm="12" md="3">
                        <MudSelect T="string" Label="Academic Year" Strict="true" Dense="true" @bind-Value="selectedYear"
                                   SelectedValuesChanged="OnSelectedAcademicYearChanged">
                            @foreach (var item in academicyearlist)
                            {
                                <MudSelectItem T="string" Value="@item.AcademicYear">@item.AcademicYear</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </MudGrid>
            </div>
            <div class="d-block pa-2  mr-5 ml-5">
                <MudTable Elevation="20" Items="@sessionlist" Dense="true" Hover="true" Breakpoint="Breakpoint.Sm">
                    <HeaderContent>
                        <MudTh>Academic Year</MudTh>
                        <MudTh>Term</MudTh>
                        <MudTh>Start Date</MudTh>
                        <MudTh>End Date</MudTh>
                        <MudTh>Attendance</MudTh>
                        <MudTh>Edit</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Academic Year">@context.AcademicYear</MudTd>
                        <MudTd DataLabel="Term">@context.SchTerm</MudTd>
                        <MudTd DataLabel="Start Date">@context.StartDate?.ToString("dd-MMM-yyyy")</MudTd>
                        <MudTd DataLabel="End Date">@context.EndDate?.ToString("dd-MMM-yyyy")</MudTd>
                        <MudTd DataLabel="Attendance">@context.Attendance</MudTd>
                        <MudTd DataLabel="">
                            <MudFab @onclick="@(()=>EditTermForm(@context.TermID))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </div>
        }
        else if (toolBarMenuId == 2)
        {
            @if (formId == 1)
            {
                <div class="d-block pa-2 mr-5 ml-5">
                    <EditForm Model="@session" OnValidSubmit="@SubmitValidForm">
                        <FluentValidationValidator />
                        <MudCard Elevation="20">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h6">@pagetitle</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudGrid>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudTextField Label="Academic Year" @bind-Value="@session.AcademicYear" For="() => session.AcademicYear" ReadOnly="true" />
                                    </MudItem>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudTextField Label="Term" @bind-Value="@session.SchTerm" For="() => session.SchTerm" ReadOnly="true" />
                                    </MudItem>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudDatePicker Label="Start Date" PickerVariant="PickerVariant.Dialog" DateFormat="dd-MMM-yyyy" @bind-Date="@session.StartDate" For="() => session.StartDate" />
                                    </MudItem>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudDatePicker Label="End Date" PickerVariant="PickerVariant.Dialog" DateFormat="dd-MMM-yyyy" @bind-Date="@session.EndDate" For="() => session.EndDate" />
                                    </MudItem>
                                </MudGrid>
                                <MudGrid>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudNumericField Label="Attendance" @bind-Value="@session.Attendance" For="() => session.Attendance" />
                                    </MudItem>
                                </MudGrid>
                            </MudCardContent>
                        </MudCard>
                    </EditForm>
                </div>

            }
            else if (formId == 2)
            {
                <div class="d-block pa-2 mr-5 ml-5">
                    <EditForm Model="@session" OnValidSubmit="@SubmitValidForm">
                        <FluentValidationValidator />
                        <MudCard Elevation="20">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h6">@pagetitle</MudText>
                                </CardHeaderContent>                               
                            </MudCardHeader>
                            <MudCardContent>
                                <MudGrid>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudTextField Label="Academic Year" @bind-Value="@session.AcademicYear" For="() => session.AcademicYear" ReadOnly="true" />
                                    </MudItem>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudTextField Label="Term" @bind-Value="@session.SchTerm" For="() => session.SchTerm" ReadOnly="true" />
                                    </MudItem>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudDatePicker Label="Start Date" PickerVariant="PickerVariant.Dialog" DateFormat="dd-MMM-yyyy" @bind-Date="@session.StartDate" For="() => session.StartDate" />
                                    </MudItem>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudDatePicker Label="End Date" PickerVariant="PickerVariant.Dialog" DateFormat="dd-MMM-yyyy" @bind-Date="@session.EndDate" For="() => session.EndDate" />
                                    </MudItem>
                                </MudGrid>
                                <MudGrid>
                                    <MudItem xs="12" sm="12" md="3">
                                        <MudNumericField Label="Attendance" @bind-Value="@session.Attendance" For="() => session.Attendance" />
                                    </MudItem>
                                </MudGrid>
                            </MudCardContent>
                        </MudCard>
                    </EditForm>
                </div>
            }
        }
        
    </Authorized>
    <NotAuthorized>
        <div class="ma-10">
            <p style="font-size:20px;">1----You Do Not Have Permission To Access This Section</p>
        </div>
    </NotAuthorized>
</AuthorizeView>


