@page "/markentrycognitive"
@implements IDisposable


<div class="d-block pa-2 mr-5 ml-5">
    <MudPaper Class="d-flex align-center flex-grow-1 gap-x-8" Elevation="20">
        <MudGrid>
            <MudItem xs="12" sm="12" md="2">
                <MudTooltip Text="Refresh">
                    <MudButton  OnClick="CognitiveMarkEvent" StartIcon="@Icons.Material.Outlined.Refresh" Color="Color.Success" Size="Size.Medium">Refresh</MudButton>
                </MudTooltip>
            </MudItem>
            <MudItem xs="12" sm="12" md="2">
                <MudTooltip Text="Save">
                    <MudButton OnClick="SaveCognitiveMarks" StartIcon="@Icons.Material.Outlined.Save" Color="Color.Success" Size="Size.Medium">Save</MudButton>
                </MudTooltip>
            </MudItem>                     
            @if (reportTypeID == 2)
            {
                <MudItem xs="12" sm="12" md="2">   
                    <MudTooltip Text="Convert Mid-Term Exam To CA 1">
                        <MudButton OnClick="ConvertMidTermExanMarks" StartIcon="@Icons.Material.Outlined.PanoramaVertical" Color="Color.Success" Size="Size.Medium">Convert Mid-Term To CA 1</MudButton>
                    </MudTooltip>
                </MudItem>
            }  
            @if (IsOnline)
            {
                <MudItem xs="12" sm="12" md="3">
                     <MudTooltip Text="Retrieve CBT Exam Marks">
                        <MudButton OnClick="RetrieveMarks" StartIcon="@Icons.Material.Outlined.Verified" Color="Color.Success" Size="Size.Medium">Retrieve CBT Marks</MudButton>
                    </MudTooltip>
                </MudItem>  
                 <MudItem xs="12" sm="12" md="3">
                     <MudTooltip Text="Convert CBT Marks">
                        <MudButton OnClick="ConvertMarks" StartIcon="@Icons.Material.Outlined.VerifiedUser" Color="Color.Success" Size="Size.Medium">Convert CBT Marks</MudButton>
                    </MudTooltip>
                </MudItem>
            }            
        </MudGrid>
    </MudPaper>
</div>

<div class="d-block pa-2 mr-5 ml-5">
    <div class="container-fluid" hidden="@IsShow">
        <MudText Typo="Typo.subtitle2" Color="Color.Inherit">
            <b>@progressbarInfo @Math.Round(i)%</b>
        </MudText>
        <MudProgressLinear Color="Color.Info" Size="Size.Large" Value="@Convert.ToDouble(i)" Rounded="true" Striped="true">
        </MudProgressLinear>
    </div>
</div>

@if (IsOnline)
{
    <div class="d-block pa-2 mr-5 ml-5">
        <MudAlert OnClick="GenerateMarkTemplates" Severity="Severity.Info" Variant="Variant.Filled" Square="true" Class="my-2">
            Please, Click here when you are done generating Mark Entry Template(s) for Offline Mark Entry.
        </MudAlert>
    </div>
}

@if (_processing)
{
    <div class="d-block pa-2 mr-5 ml-5">
        <MudAlert Severity="Severity.Normal" Variant="Variant.Filled">
            @offlineprohressbarinfo @stopwatchvalue
        </MudAlert>      
    </div>
}

<div class="d-block pa-2 mr-5 ml-5">
    <MudGrid>
        <MudItem xs="12" sm="12" md="2">
            <MudSelect T="string" Label="School" Strict="true" Dense="true" @bind-Value="selectedSchool"
                       SelectedValuesChanged="OnSelectedSchoolChanged">
                @foreach (var item in schools)
                {
                    <MudSelectItem T="string" Value="@item.School">@item.School</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="12" md="2">
            <MudSelect T="string" Label="Class" Strict="true" Dense="true" @bind-Value="selectedClass"
                       SelectedValuesChanged="OnSelectedClassChanged">
                @foreach (var item in classList)
                {
                    <MudSelectItem T="string" Value="@item.ClassName">@item.ClassName</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="12" md="5">
            <MudSelect T="string" Label="Subject" Strict="true" Dense="true" @bind-Value="selectedSubject"
                       SelectedValuesChanged="OnSelectedSubjectChanged">
                @foreach (var item in SelectedTeachersSubjects)
                {
                    <MudSelectItem T="string" Value="@item.Subject">@item.Subject</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
    </MudGrid>
</div>

<div class="d-block pa-2 mr-5 ml-5">
    <MudCard Elevation="20">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Cognitive Mark Entry: @selectedExamTitle</MudText>
            </CardHeaderContent>            
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12" sm="12" md="12">
                    <MudTable Items="@cognitiveMarks" Dense="true" Hover="true" Striped="true" Breakpoint="Breakpoint.Sm" 
                              @bind-SelectedItem="selectedItemCognitiveMark" CommitEditTooltip="Update" 
                              OnCommitEditClick="@(() => UpdateCognitiveMarks())">
                        <HeaderContent>
                            <MudTh>S/N</MudTh>
                            <MudTh>Admission No.</MudTh>
                            <MudTh>Student Name</MudTh>
                            <MudTh>Mid-Term CBT/CA</MudTh>
                            <MudTh>Mid-Term Theory</MudTh>
                            <MudTh>CA 1</MudTh>
                            <MudTh>CA 2</MudTh>
                            <MudTh>CA 3</MudTh>
                            <MudTh>@headerCBTColumn</MudTh>
                            <MudTh>Exam</MudTh>
                            <MudTh>Total</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="S/N">@context.SN</MudTd>
                            <MudTd DataLabel="Admission No.">@context.AdmissionNo</MudTd>
                            <MudTd DataLabel="Student Name">@context.StudentName</MudTd>
                            <MudTd DataLabel="Mid-Term CBT/CA">@context.Mark_MidCBT.ToString("#0.00")</MudTd>
                            <MudTd DataLabel="Mid-Term Theory">@context.Mark_Mid.ToString("#0.00")</MudTd>
                            <MudTd DataLabel="CA 1">@context.Mark_CA1.ToString("#0.00")</MudTd>
                            <MudTd DataLabel="CA 2">@context.Mark_CA2.ToString("#0.00")</MudTd>
                            <MudTd DataLabel="CA 3">@context.Mark_CA3.ToString("#0.00")</MudTd>
                            <MudTd DataLabel=@headerCBTColumn>@context.Mark_CBT.ToString("#0.00")</MudTd>
                            <MudTd DataLabel="Exam">@context.Mark_Exam.ToString("#0.00")</MudTd>
                            <MudTd DataLabel="Total">@context.Total_Exam.ToString("#0.00")</MudTd>
                        </RowTemplate>
                        <RowEditingTemplate>
                            <MudTd DataLabel="S/N">
                                <MudTextField @bind-Value="@context.SN" ReadOnly />
                            </MudTd>
                            <MudTd DataLabel="Admission No.">
                                <MudTextField @bind-Value="@context.AdmissionNo" ReadOnly />
                            </MudTd>
                            <MudTd DataLabel="Student Name">
                                <MudTextField @bind-Value="@context.StudentName" ReadOnly />
                            </MudTd>
                            <MudTd DataLabel="Mid-Term CBT/CA">
                                <MudTextField @bind-Value="@context.Mark_MidCBT" Required ReadOnly="@DisableMidTermColumn" />
                            </MudTd>
                            <MudTd DataLabel="Mid-Term Theory">
                                <MudTextField @bind-Value="@context.Mark_Mid" Required ReadOnly="@DisableMidTermColumn" />
                            </MudTd>
                            <MudTd DataLabel="CA 1">
                                <MudTextField @bind-Value="@context.Mark_CA1" Required ReadOnly="@DisableCA1Column" />
                            </MudTd>
                            <MudTd DataLabel="CA 2">
                                <MudTextField @bind-Value="@context.Mark_CA2" Required ReadOnly="@DisableCA2Column" />
                            </MudTd>
                            <MudTd DataLabel="CA 2">
                                <MudTextField @bind-Value="@context.Mark_CA3" Required ReadOnly="@DisableCA3Column" />
                            </MudTd>
                            <MudTd DataLabel="CA 4">
                                <MudTextField @bind-Value="@context.Mark_CBT" Required ReadOnly="@DisableCA4Column" />
                            </MudTd>
                            <MudTd DataLabel="Exam">
                                <MudTextField @bind-Value="@context.Mark_Exam" Required ReadOnly="@DisableExamColumns" />
                            </MudTd>
                        </RowEditingTemplate>
                    </MudTable>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</div>
