@page "/termendcomments"
@inject ISnackbar Snackbar
@implements IDisposable
@using System.Globalization


<div class="d-block pa-2 mr-5 ml-5">
    <MudPaper Class="d-flex align-center flex-grow-1 gap-x-8" Elevation="20">
        <div Class="d-flex flex-1">
            <MudTooltip Text="Refresh">
                <MudIconButton OnClick="Refresh" Icon="@Icons.Material.Filled.Refresh" Color="Color.Success" />
            </MudTooltip>
        </div>
        <div Class="d-flex flex-1">
            <MudTooltip Text="Save Comments">
                <MudButton OnClick="SaveTermEndComments" StartIcon="@Icons.Material.Outlined.Save" Color="Color.Success" Size="Size.Large">Save</MudButton>
            </MudTooltip>
        </div>
        <div Class="d-flex flex-1">
            <MudTooltip Text="Auto Comments">
                <MudIconButton OnClick="SelectAutoComments" Icon="@Icons.Material.Filled.AutofpsSelect" Color="Color.Success" />
            </MudTooltip>
        </div>
    </MudPaper>
</div>

@if (IsOnline)
{
    <div class="d-block pa-2 mr-5 ml-5">
        <MudAlert OnClick="GenerateMarkTemplates" Severity="Severity.Info" Variant="Variant.Filled" Square="true" Class="my-2">
            Please, Click here when you are done generating Mark Entry Template(s) for Offline Mark Entry.
        </MudAlert>
    </div>
}

@if (isLoading)
{
    <div Class="d-flex justify-center">
        <p style="font-size:16px;">@loadingmessage</p>
    </div>
}

@if (_processing)
{
    <div class="d-block pa-2 mr-5 ml-5">
        <MudAlert Severity="Severity.Normal" Variant="Variant.Filled">
            @offlineprohressbarinfo @stopwatchvalue
        </MudAlert>
    </div>
}

<div class="d-block pa-2 mr-5 ml-5">
    <div class="container-fluid" hidden="@IsShow">
        <MudText Typo="Typo.subtitle2" Color="Color.Inherit">
            <b>@progressbarInfo @Math.Round(i)%</b>
        </MudText>
        <MudProgressLinear Color="Color.Info" Size="Size.Large" Value="@Convert.ToDouble(i)" Rounded="true" Striped="true">
        </MudProgressLinear>
    </div>
</div>

<div class="d-block pa-2 mr-5 ml-5">
    <MudGrid>
        <MudItem xs="12" sm="12" md="2">
            <MudSelect T="string" Label="School" Strict="true" Dense="true" @bind-Value="selectedSchool"
                       SelectedValuesChanged="OnSchoolChanged">
                @foreach (var item in schools)
                {
                    <MudSelectItem T="string" Value="@item.School">@item.School</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="12" md="2">
            <MudSelect T="string" Label="Class" Strict="true" Dense="true" @bind-Value="selectedClass"
                       SelectedValuesChanged="OnClassChanged">
                @foreach (var item in classList)
                {
                    <MudSelectItem T="string" Value="@item.ClassName">@item.ClassName</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
    </MudGrid>
</div>

<div class="d-block pa-2 mr-5 ml-5">
    <MudCard Elevation="20">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">End of Term Comments for @schTerm Term</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudTable Elevation="00" Items="@commentsTermEnd" Dense="true" Hover="true" Breakpoint="Breakpoint.Sm" @bind-SelectedItem="selectedTermEndComment"
                      CommitEditTooltip="Update" OnCommitEditClick="@(() => UpdateTermEndComments())">
                <HeaderContent>
                    <MudTh>S/N</MudTh>
                    <MudTh>Admission No.</MudTh>
                    <MudTh>Student Name</MudTh>
                    <MudTh>No. of Subjects</MudTh>
                    <MudTh>Percentage</MudTh>
                    <MudTh>Position</MudTh>
                    <MudTh>Grade</MudTh>
                    <MudTh>Days Absent</MudTh>
                    <MudTh>Teacher's Comment</MudTh>
                    <MudTh>Principal's Comment</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="S/N">@context.SN</MudTd>
                    <MudTd DataLabel="Admission No.">@context.AdmissionNo</MudTd>
                    <MudTd DataLabel="Student Name">@context.StudentName</MudTd>
                    <MudTd DataLabel="No. of Subjects">@context.MarkObtainable</MudTd>
                    <MudTd DataLabel="Percentage">@context.AVGPer.ToString("N2")</MudTd>
                    <MudTd DataLabel="Position">@context.Position</MudTd>
                    <MudTd DataLabel="Grade">@context.Grade</MudTd>
                    <MudTd DataLabel="Days Absent">@context.DaysAbsent</MudTd>
                    <MudTd DataLabel="Teacher's Comment">@context.Comments_Teacher</MudTd>
                    <MudTd DataLabel="Principal's Comment">@context.Comments_Principal</MudTd>
                    <MudTh></MudTh>
                </RowTemplate>
                <RowEditingTemplate>
                    <MudTd DataLabel="S/N">
                        <MudTextField @bind-Value="@context.SN" ReadOnly />
                    </MudTd>
                    <MudTd DataLabel="Admission No.">
                        <MudTextField @bind-Value="@context.AdmissionNo" ReadOnly />
                    </MudTd>
                    <MudTd DataLabel="Student Name">
                        <MudTextField @bind-Value="@context.StudentName" ReadOnly />
                    </MudTd>
                    <MudTd DataLabel="No. of Subjects">
                        <MudTextField @bind-Value="@context.MarkObtainable" ReadOnly />
                    </MudTd>
                    <MudTd DataLabel="Percentage">
                        <MudTextField @bind-Value="@context.AVGPer" ReadOnly />
                    </MudTd>
                    <MudTd DataLabel="Position">
                        <MudTextField @bind-Value="@context.Position" ReadOnly />
                    </MudTd>
                    <MudTd DataLabel="Grade">
                        <MudTextField @bind-Value="@context.Grade" ReadOnly />
                    </MudTd>
                    <MudTd DataLabel="Days Absent">
                        <MudTextField @bind-Value="@context.DaysAbsent" />
                    </MudTd>
                    <MudTd DataLabel="Teacher's Comment">
                        <MudTextField @bind-Value="@context.Comments_Teacher" />
                    </MudTd>
                    <MudTd DataLabel="Principal's Comment">
                        <MudTextField @bind-Value="@context.Comments_Principal" />
                    </MudTd>
                </RowEditingTemplate>
            </MudTable>
        </MudCardContent>
    </MudCard>
</div>

<!-- 


<div class="d-block pa-2 mr-5 ml-5">
    <MudCard Elevation="20">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">End of Term Comments for @schTerm Term</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudDataGrid T="ACDReportCommentsTerminal" Items="@commentsTermEnd" ReadOnly="false" EditMode="@DataGridEditMode.Cell"
                         CommittedItemChanges="@CommittedItemChanges" ColumnResizeMode="@ResizeMode.Column"
                         EditTrigger="@DataGridEditTrigger.OnRowClick">
                <Columns>
                    <Column T="ACDReportCommentsTerminal" Field="StudentName" Title="Student Name" IsEditable="false" StickyLeft="true" />
                    <Column T="ACDReportCommentsTerminal" Field="AdmissionNo" Title="Admission No." IsEditable="false" />
                    <Column T="ACDReportCommentsTerminal" Field="MarkObtainable" Title="No. of Subjects" IsEditable="false" style="width:2%;" />
                    <Column T="ACDReportCommentsTerminal" Field="DaysAbsent" Title="Days Absent" IsEditable="false" />
                    <Column T="ACDReportCommentsTerminal" Field="AVGPer" Title="Percentage" Culture="@(new CultureInfo("N2"))" IsEditable="false" />
                    <Column T="ACDReportCommentsTerminal" Field="Position" Title="Position" IsEditable="false" />
                    <Column T="ACDReportCommentsTerminal" Field="Grade" Title="Grade" IsEditable="false" />
                    <Column T="ACDReportCommentsTerminal" Field="Comments_Teacher" Title="Teacher's Comment" />
                    <Column T="ACDReportCommentsTerminal" Field="Comments_Principal" Title="Principal's Comment" />
                </Columns>
            </MudDataGrid>
        </MudCardContent>
    </MudCard>
</div>

@* <Column T="ACDReportCommentsTerminal" Field="StudentName" Title="Student Name" IsEditable="false" />*@
-->
<MudDialog @bind-IsVisible="visible" Options="dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.AutoAwesome" Class="mr-3" />Apply Auto Comments
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" md="7">
                <MudRadioGroup T="int" SelectedOptionChanged="@ApplyTermEndAutoComments">
                    <MudRadio Option="1" Color="Color.Tertiary">Class Teachrer's Auto Comments'</MudRadio>
                    <MudRadio Option="2" Color="Color.Tertiary">Principal's Auto Comments'</MudRadio>
                    <MudRadio Option="3" Color="Color.Tertiary">Both</MudRadio>
                </MudRadioGroup>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="px-10">Close</MudButton>
    </DialogActions>
</MudDialog>
