@page "/subjectdepts"


<AuthorizeView Roles="Administrator">
    <Authorized Context="admin">
        
<div class="d-block pa-2 mr-5 ml-5">
    <MudPaper Class="d-flex align-center flex-grow-1 gap-x-8" Elevation="20">
         <MudGrid>
            <MudItem xs="12" sm="12" md="3">
                <MudTooltip Text="Go Back">
                    <MudIconButton OnClick="GoBack" Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Success" />
                </MudTooltip>
            </MudItem>
            <MudItem xs="12" sm="12" md="3">
                <MudTooltip Text="Subject Department List">
                    <MudIconButton OnClick="DepartmentEvent" Icon="@Icons.Material.Filled.FormatLineSpacing" Color="Color.Success" />
                </MudTooltip>
            </MudItem>
            <MudItem xs="12" sm="12" md="3">
                <MudTooltip Text="Create A New Subject Department">
                    <MudIconButton OnClick="CreateNewSubjectDepartment" Icon="@Icons.Material.Outlined.LibraryAdd" Color="Color.Success" />
                </MudTooltip>
            </MudItem>
            <MudItem xs="12" sm="12" md="3">
                <MudTooltip Text="Save">
                    <button type="submit" form="@editFormId">
                        <MudButton Disabled="@disableSaveButton" StartIcon="@Icons.Material.Outlined.Save"
                                   Color="Color.Success" Size="Size.Large">Save</MudButton>
                    </button>
                </MudTooltip>
            </MudItem>               
        </MudGrid>
    </MudPaper>
</div>


@if (toolBarMenuId == 1)
{
    <div class="d-block pa-2  mr-5 ml-5">
        <MudTable Elevation="20" Items="@deptlist" Dense="true" Hover="true" Breakpoint="Breakpoint.Sm">
            <HeaderContent>
                <MudTh>Department</MudTh>
                <MudTh>Subject Count</MudTh>
                <MudTh>Edit</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Department">@context.SbjDept</MudTd>
                <MudTd DataLabel="Subject Count">@context.SubjectCount</MudTd>
                <MudTd DataLabel="Edit">
                    <MudFab @onclick="@(()=>UpdateSubjectDepartment(@context.SbjDeptID))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </div>
}
else if (toolBarMenuId == 2)
{
    <div class="d-block pa-2 mr-5 ml-5">
        <EditForm id="@editFormId" Model="@details" OnValidSubmit="@SubmitValidForm" OnInvalidSubmit="@InvalidEntries">
            <FluentValidationValidator />
            <MudCard Elevation="20">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@pagetitle</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" sm="12" md="3">
                            <MudTextField Label="Subject Department" @bind-Value="@details.SbjDept" For="() => details.SbjDept" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </EditForm>
    </div>
}
    </Authorized>
    <NotAuthorized>
        <div class="ma-10">
            <p style="font-size:20px;">You Do Not Have Permission To Access This Page</p>
        </div>
    </NotAuthorized>
</AuthorizeView>
